<style>
    .carousel-item {
        position: relative;
    }

    Here is the full style code:

    .carousel-item {
        position: relative;
    }

    .second-slide-caption {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY( -50%);
        text-align: center;
    }

        .second-slide-caption h5 {
            color: black;
            font-size: 40px;
        }

        .second-slide-caption p {
            color: black;
            font-size: 20px;
           
        }

</style>


@{
    ViewData["Title"] = "Home Page";
}

<div id="c1" class="carousel slide carousel-dark" style="margin-top:5px;" data-bs-carousel="carousel" data-bs-ride="carousel" data-interval="500">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height:700px;margin-right:5px;">
            <img src="..\background image\carousel2.jpg" alt="Haiiiii" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;font-size: 40px;">Find Your Perfect Ride</h5>
                <p style="color: white;">Choose from a wide selection of cars, from compact to luxury, for your next trip. Book now and start your adventure with comfort and style!</p>
            </div>
        </div>
        <div class="carousel-item" style="height:700px;">
            <img src="..\background image\carousel1.jpeg" alt="welocome" class="d-block" style="width:100%;" />
            
        </div>
        <div class="carousel-item" style="height:700px;">
            <img src="..\background image\carousel.jpg" alt="Heloooo" class="d-block w-100" />
            <div class="carousel-caption d-none d-md-block second-slide-caption">
                <h5><b><i>Drive Your Dream Car</i></b></h5>
                <p><b>Experience the freedom of renting a car that suits your style and budget. From economy to luxury, our fleet has got you covered.</b></p>
            </div>
        </div>
    </div>

